In [10]:
import numpy as np
from scipy.stats import ttest_rel
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
precond = np.load("torch_small_precond_auc.npy")
logreg = np.load("torch_logreg_auc.npy")

In [6]:
precond

array([0.55712212, 0.58562835, 0.58314434, 0.55340182, 0.57303371,
       0.41777344, 0.50241546, 0.47606125, 0.54259448, 0.58739878,
       0.6687234 , 0.56708861, 0.60876623, 0.55113636, 0.53498358,
       0.50882353, 0.58436214, 0.62556391, 0.65323509, 0.54425649])

In [8]:
ttest_rel(precond, logreg)

Ttest_relResult(statistic=-0.08497352741166442, pvalue=0.9331714352906815)

In [11]:
pd.DataFrame({"logreg": logreg, "precond": precond})

      logreg   precond
0   0.452830  0.557122
1   0.592688  0.585628
2   0.614694  0.583144
3   0.541772  0.553402
4   0.606742  0.573034
5   0.450000  0.417773
6   0.494300  0.502415
7   0.492150  0.476061
8   0.546476  0.542594
9   0.656725  0.587399
10  0.602128  0.668723
11  0.505550  0.567089
12  0.605722  0.608766
13  0.541193  0.551136
14  0.585501  0.534984
15  0.550535  0.508824
16  0.573868  0.584362
17  0.615897  0.625564
18  0.648169  0.653235
19  0.564319  0.544256